venv
.vscode
.env
.env.local

*.pyc
*.zip
*.pt

__pycache__
.mypy_cache
.pytest_cache

old/
tmp/
to_delete/

data/cartoon_csv/*
!data/cartoon_csv/.gitkeep
data/cartoon_frames/*
!data/cartoon_frames/.gitkeep
data/flickr/*
!data/flickr/.gitkeep
weights/*
!weights/.gitkeep