venv
.vscode
.env
.env.local

*.pyc
*.zip
*.pt

__pycache__
.mypy_cache
.pytest_cache

old/
tmp/
to_delete/
runs/**
data/**
!data/cartoon_csv/.gitkeep
!data/cartoon_frames/.gitkeep
!data/flickr/.gitkeep
!data/cartoons_all.csv
!data/pictures_all.csv
weights/*
!weights/.gitkeep
!weights/vgg
weights/vgg/*
!weights/vgg/.gitkeep
logs/*
!logs/all_params.csv